<div id="<%= dom_id movement %>">
  <p class="my-5">
    <strong class="font-medium mb-1">Transaction date:</strong>
    <%= movement.transaction_date %>
  </p>
  <p class="my-5">
    <strong class="font-medium mb-1">Post date:</strong>
    <%= movement.post_date %>
  </p>
  <p class="my-5">
    <strong class="font-medium mb-1">Amount:</strong>
    <%= Money.from_cents(movement.amount, :usd).format %>
  </p>
  <p class="my-5">
    <strong class="font-medium mb-1">Verified:</strong>
    <%= movement.verified %>
  </p>
  <p class="my-5">
    <strong class="font-medium mb-1">From import:</strong>
    <%= movement.import.created_at %>
  </p>
</div>
