<% content_for :title, "Movements" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Movements</h1>
    <%= link_to "Import movements", "", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="movements" class="min-w-full">
    <% if @movements.any? %>
      <% @movements.each do |movement| %>
        <%= render movement %>
        <p>
          <% if !movement.verified?%>
            <%= button_to "Verify", movement, method: :put, params: { movement: { verified: true } }, form_class: "ml-2 inline-block", class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
          <% end %>

          <%= link_to "Show this movement", movement, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
        </p>
      <% end %>
    <% else %>
      <p class="text-center my-10">No movements found.</p>
    <% end %>
  </div>
</div>
